<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('a#are_we').bind('click', function() {
            $.getJSON('/upload_are_we',
                function(data) {
              //do nothing
            });
            return false;
          });
        });

        $(function() {
          $('a#basic_tests').bind('click', function() {
            $.getJSON('/upload_basic_tests',
                function(data) {
              //do nothing
            });
            return false;
          });
        });

        $(function() {
          $('a#color_tests').bind('click', function() {
            $.getJSON('/upload_color_tests',
                function(data) {
              //do nothing
            });
            return false;
          });
        });

        $(function() {
          $('a#bouncing').bind('click', function() {
            $.getJSON('/upload_bouncing',
                function(data) {
              //do nothing
            });
            return false;
          });
        });

        $(function() {
          $('a#kombat').bind('click', function() {
            $.getJSON('/upload_kombat',
              function(data) {
                //do nothing
              });
              return false;
          });
        });

        $(function() {
          $('a#test').bind('click', function() {
            $.getJSON('/setBrightness',
                function(data) {
              //do nothing
            });
            return false;
          });
        });

	$(function() {
	    document.getElementById("bslider").oninput = function (e) {
                $.getJSON(('/setBrightness?level=' + e.target.value),
                    function(data) {
                  //do nothing
                });
	    };
	});
        
        $(function() {
          $('a#color_pulse').bind('click', function() {
            $.getJSON('/upload_color_pulse',
                function(data) {
              //do nothing
            });
            return false;
          });
        });

        $(function() {
          $('a#pulsating').bind('click', function() {
            $.getJSON('/upload_pulsating',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>


<p>Make sure the sketch has fully uploaded before you try another, otherwise it will fail,
	but then take the better part of a minute to be ready to upload again, just chill.</p>

<div class='container'>
    <h3>Random Brightness (Needs "Are We" loaded)</h3>
        <form>
            <a href=# id=test><button class='btn btn-default'>rand.randint my LEDs UWU</button></a>
        </form>

</div>

<div class='container'>
    <h3>Set Brightness (Needs "Are We" loaded)</h3>
        <form>
	    <input type="range" min="0" max="255" value="0" class="slider" id="bslider"/>
        </form>

</div>

<div class='container'>
    <h3>Upload Are We?</h3>
        <form>
            <a href=# id=are_we><button class='btn btn-default'>PUSH MY BOTTONS DADDY</button></a>
        </form>

</div>

<div class='container'>
    <h3>Upload Basic Tests</h3>
        <form>
            <a href=# id=basic_tests><button class='btn btn-default'>I'd just like to interject...</button></a>
        </form>

<div class='container'>
    <h3>Upload Color Tests</h3>
        <form>
            <a href=# id=color_tests><button class='btn btn-default'>A Spectre is Haunting Europe</button></a>
        </form>

</div>

<div class='container'>
    <h3>Upload Bouncing</h3>
        <form>
            <a href=# id=bouncing><button class='btn btn-default'>Alexa, Are We?</button></a>
        </form>

<div class='container'>
    <h3>Upload Pulsating</h3>
        <form>
            <a href=# id=pulsating><button class='btn btn-default'>btw, I use Arch</button></a>
        </form>

</div>

<div class='container'>
    <h3>Upload Color Pulse</h3>
        <form>
            <a href=# id=color_pulse><button class='btn btn-default'>No Degeneracy!</button></a>
        </form>

</div>

<div class='container'>
  <h3>Upload Kombat</h3>
      <form>
          <a href=# id=kombat><button class='btn btn-default'>Agon baterya agon batalyon!</button></a>
      </form>

</div>



</html>

